@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

ol {
  list-style: decimal;
}
ul {
  list-style: disc
}
html,body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
}

div.markdown-body {
  background-color: #f6f6f6 !important;
}